<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Jacob Moeller">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="images/org-mode-unicorn-logo.png">

  <title>{{siteTitle | titleize}}</title>

  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/vendor/prettify_tomorrow-night.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script data-main="javascripts/main" src="javascripts/vendor/require-2.1.11.min.js"></script>
</head>

<body>

  <div class="header">
    <h1>{{siteTitle | titleize | toUpper}}</h1>
  </div>

  <div class="container-fluid">
    <div class="row body-content">
      <div class="col-sm-2 sidebar">
        {{template "sidebar"}}
      </div>

      <div class="col-sm-10 main">
        <div class="posts"></div>
      </div>
    </div>
  </div>
 
</body>
</html>
