<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Jacob Moeller">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>the blorg</title>

  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
</head>

<body>

  <div class="container-fluid">
    <div class="row body-content">
      <div class="col-sm-2 sidebar">
        <img class="org-unicorn" src="images/org-mode-unicorn-logo.png" />
        <ul class="nav nav-sidebar">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/blog">Blog</a></li>
        </ul> 
      </div>

      <div class="col-sm-10 main">
        <h1>{{}}</h1>
        <div class="main-content-body-header">
          <h1>THE BLORG!</h1>
        </div>

        {{ yield }}

      </div>
    </div>
  </div>

  <script type="text/template" id="nav-sidebar-template">
    <li><a href="#/first">First</a></li>
    <li><a href="#/second">Second</a></li>
    <li><a href="#/third">Third</a></li>
    <li><a href="#/fourth">Fourth</a></li>
  </script>

  <script type="text/template" id="posts-template">
    <div class="posts">
      <% _.each(posts, function (post) { %>
        <% _.each(post.get('subtrees'), function (subtree) { %>
          <% _.each(subtree.nodes, function (node) { %>
            <div class="post">
              <% if (node.position > 0) { %>
                <h<%= node.position %> class="headline">
                  <%= node.headline %>
                </h<%= node.position %>>
              <% } %>
              <div class="section">
                <% _.each(node.sections, function (p) { %>
                  <p><%= p %></p>
                <% }); %>
              </div>
            </div>
          <% }); %>
        <% }); %>
      <% }); %>
    </div>
  </script>



  <script src="javascripts/vendor/jquery-2.1.0.min.js"></script>
  <script src="javascripts/vendor/bootstrap.min.js"></script>
  <script src="javascripts/vendor/underscore-1.6.0.min.js"></script>
  <script src="javascripts/vendor/backbone-1.1.2.min.js"></script>
  <script src="javascripts/vendor/require-2.1.11.min.js"></script>
  <script src="javascripts/application.js"></script>
 
</body>
</html>
