<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Jacob Moeller">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>the blorg</title>

  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
</head>

<body>

  <div class="container-fluid">
    <div class="row body-content">
      <div class="col-sm-2 sidebar">
        <ul class="nav nav-sidebar">
          <img class="org-unicorn" src="images/org-mode-unicorn-logo.png" />
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/blog">Blog</a></li>
        </ul> 
      </div>

      <div class="col-sm-10 main">
        <div class="main-content-body-header">
          <h1>THE BLORG!</h1>
        </div>

        {{ yield }}
      </div>
    </div>
  </div>


  <script src="javascripts/vendor/jquery-2.1.0.min.js"></script>
  <script src="javascripts/vendor/bootstrap.min.js"></script>
</body>
</html>
