{{define "sidebar"}}

<img class="org-unicorn" src="images/org-mode-unicorn-logo.png" />
<ul class="nav nav-sidebar">
  <li><a href="/">Home</a></li>
  {{range $index, $title := sectionTitles}}
    <li><a href="#/sections/{{$title | slugify}}">{{$title}}</a></li>
  {{end}}
</ul> 

{{end}}
