div.row.body-content {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

div.sidebar {
  margin-top: 20px;
}

div.header {
  padding: 5px 0 25px;
  background-color: #eee;
  text-align: center;
}

div.header h1 {
  font-size: 35px;
}

img.org-unicorn {
  width: 90px;
}
